<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1001689134047-fu9jtej8s8dcbgn403jfqumdf3qo25lg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1001689134047-fu9jtej8s8dcbgn403jfqumdf3qo25lg</string>
	<key>API_KEY</key>
	<string>AIzaSyA7MPsYC2xgMpQ87Qs3f8r42Bu47IPeTmc</string>
	<key>GCM_SENDER_ID</key>
	<string>1001689134047</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mxscoding.flutterChatApp</string>
	<key>PROJECT_ID</key>
	<string>flutter-chat-app-93f12</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-chat-app-93f12.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1001689134047:ios:bcf94c3efd3d88c6644a6a</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-chat-app-93f12.firebaseio.com</string>
</dict>
</plist>
